/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, vendor/assets/stylesheets,
 * or vendor/assets/stylesheets of plugins, if any, can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any styles
 * defined in the other CSS/SCSS files in this directory. It is generally better to create a new
 * file per style scope.
 *
 *= require_tree .
 *= require_self
 */
.field {
	float:left;
	margin-right: 20px;
}
.actions {
	width: 196px;
}

h1 {
	 
	color:#80BF41 !important;
	font-family: 'Roboto Slab', serif !important;
}
#texttocorrect_description {
	width: 500px !important;
	height: 200px;
}
p {font-weight: bold;
font-family: 'Roboto Slab', serif !important;}

table {
	
	border: 1px solid #80BF41;

}
body {font-family: 'Roboto Slab', serif !important;
background-image: url("/assets/background.jpg");}
td {padding: 15px;
	border: 1px solid #80BF41;
font-family: 'Roboto Slab', serif !important;
}

th {border: 1px solid #80BF41;
	text-align: center !important;
padding:15px;
 white-space: nowrap !important;}

tr {text-align:center !important}

#whitecontainer {background-color: white;
				width: 700px;}
